*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    
}

h1,
h2,
h3,
h4,
h5,
h6{
    background-color: white;
    color: rgb(209, 190, 20);
    text-align: center;
}

p{
    background-color: white;
    display: flexbox;
    padding-left: 30%;
    padding-right: 30%;
    
}

.menu-item{
    background-color: white;
    display: flexbox;
    padding-right: 25%;
}

a{
    background-color: white;
    display: flexbox;

}

ul,
ol{
    background-color: white;
    display: flexbox;
    padding-left: 30%;
    padding-right: 30%;
}
li{
    background-color: white;
}

img{
    margin: auto;
    display: block;
}

